[init]
  defaultBranch = main
[alias]
  co = checkout
  d = diff
  s = status
  dc = diff --cached
  lp = log --patch
  cob = checkout -b
  cm = commit -m
  po = push origin
  tree = log --graph --pretty=online --abbrev-commit --decorate --branches
[branch]
  autosetuprebase = always
  sort = committerdate
[user]
  name = Adam Stanton
  email = adam.stanton@clio.com
[core]
  editor = cursor --wait
  preloadindex = true
	excludesfile = ~/.gitignore
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
[diff]
  tool = ediff
[merge]
  tool = ediff
  ff = only
